<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inventory Tracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F19EED2C1CE21B0600D74F40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F19EED401CE21B0700D74F40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F19EED4B1CE21B0700D74F40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
